<!DOCTYPE html>
<html>
  <head>
    <title>Create post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/employees"> Lists of post</a></h3>
      <h1>Create New Post</h1>
      <form action="/employees/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Post-topic</td>
              <td><textarea name="address"></textarea></td>
            </tr>
            <tr>
              <td>Post Description </td>
              <td><input type="text" name="position" /></td>
            </tr>
            <tr>
              <td>Posted on</td>
              <td><input type="number" name="salary" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      socket.on('connect', function() {
        console.log('connected')
      })
    </script>
  </body>
</html>
