<!DOCTYPE html>
<html>
  <head>
    <title>Post section</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>post section</h1>
    <p>Welcome to post section</p>
    <h4><a href="/employees">post section link</a></h4>
  </body>
</html>
